.App {
  text-align: center;
  max-width: 100vw;
  margin: auto;
  padding: 24px;
}
.App *{
  font-weight: 300;
}
.mgt-global-20 {
  padding-top: 8vh;
}
@media (min-width:920px){
  .App{
    width: 900px;
  }

}