.Contact{
    color: red;
    margin-top: 7vh;
}
.Contact h2{
    font-weight: 600;
    margin-bottom: 3vh;
}
.Contact h4{
    color: #d0d0d0;
    line-height: 150%;
}
.Contact span{
    color: #d0d0d0;
    font-size: 1rem;
    line-height: 30px;
    margin-left: 10px;
}
.Contact a span:hover{
    text-decoration: none;
}
.Contact a{
    color: #d0d0d0;
}
.Contact a:hover{
    color: #d0d0d0;
}