
.DateAndTime {
    display: flex;
    width: 100%;
    height: 300px;
    border: 1px solid greenyellow;
    color: greenyellow;
}

.DateAndTime h1 {
    margin-bottom: 1em;
    font-weight: bold;
}

.DateAndTime h2 {
    margin-bottom:1em;
}

.left-side{
    width: 50%;
    padding-top: 2em;
    padding-right: 2em;
    text-align: right;
}

.right-side{
    width: 50%;
    padding-top: 2em;
    padding-left: 2em;
    border-left: 4px solid greenyellow;
    text-align: left;
}