.Landing{
    width: 100%;
    color: #fff;
    top: 106px;
}
@media (min-height: 480px){
    .Landing{
        min-height: calc(95vh);
    }
}
@media (max-height: 400px){
    .Landing{
        min-height: calc(179vh);
    }
}
.Landing-logo{
	margin-top: 50px;
}
.Landing-preparetext{
	margin-top: 20px;
}
.Landing-calltoaction{
    margin: auto;
    margin-top: 5vh;
}
.Landing-register{
    padding: .5rem 2rem !important;
    font-size: 1.5rem !important;
    line-height: 2 !important;
    border-radius: 1rem !important;
    margin: 2vh 1vw;
    color: rgb(251, 255, 0) !important;
	border-color: rgb(251, 255, 0) !important;
	animation: register 3s ease infinite;
}
span.Landing-register-text{
	color: #BFC0C3 !important;
}
span.Landing-csstudent{
	border-bottom: 2px solid rgb(251, 255, 0);
}
.Landing-viewmore {
    padding: .5rem 2rem !important;
    font-size: 1.5rem !important;
    line-height: 2 !important;
    border-radius: 1rem !important;
    width: 250px;
    margin: 2vh 1vw;
}

.Carousel{
    margin-top: 6vh;
}
.Carousel-display{
	width: 100%;
	margin: 10px 0;
}
.Carousel-item{
	border: 1px solid #5AFEED;
	margin: auto;
    position:relative;
    background-color: #000;
}
.Carousel-item-text{
	padding: 10px;
	height: inherit;
}
.Carousel-item-text > div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.crs-first{
	height: 40px;
	width: 60%;
	z-index: 98;
	border-radius: 7px;
	font-size: 0.7rem;
	color: #BFC0C3;
}
.crs-second{
	height: 60px;
	width: 80%;
	z-index: 99;
	border-radius: 10px;
	margin-top: -10px;
	font-size: 1.1rem;
	color: #BBBEC7;
}
.crs-third{
	height: 80px;
	width: 100%;
	z-index: 100;
	border-radius: 15px;
	margin-top: -20px;
	font-size: 1.75rem;
    box-shadow: 0.5px 0.5px 12px rgba(102,252,241,0.63);
}
.crs-fourth{
	height: 60px;
	width: 80%;
	z-index: 99;
	border-radius: 10px;
	margin-top: -20px;
	font-size: 1.1rem;
	color: #BBBEC7;
}
.crs-fifth{
	height: 40px;
	width: 60%;
	z-index: 98;
	border-radius: 7px;
	margin-top: -10px;
	font-size: 0.7rem;
	color: #BFC0C3;
}


.font-200{
	font-weight: 200 !important;
}
.font-3rem{
	font-size: 3rem !important;
}
.font-2rem{
	font-size: 2rem !important;
}
.font-1_5rem{
	font-size: 1.5rem !important;
}
.font-1_2rem{
	font-size: 1.2rem !important;
}
.font-1rem{
	font-size: 1rem !important;
}
.font-0_7rem{
	font-size: 0.7rem !important;
}
.text-left{
	text-align: left;
	justify-content: left;
}
.text-center{
	text-align: center;
	justify-content: center;
}
.color-e2e2e2{
	color: #e2e2e2;
}
.content-block{
	max-width: 900px;
	margin: auto;
	padding: 0 6px 0 10px;
}
.mgt-40px{
	margin-top: 40px;
}
.flexbox{
	display: flex;
}
.flex-center{
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.hide{
	visibility: hidden;
}
.web-color{
	color: #367AEF !important;
}
.mobile-color {
	color: rgb(43, 255, 0) !important;
}
.ml-color{
	color: rgb(251, 255, 0) !important;
}
.system-color{
	color: #E7494E !important;
}
.blockchain-color{
	color: rgb(250, 149, 34) !important;
}
.other-color{
	color: rgb(140, 0, 255) !important;
}
.ywc-blue-color{
	color: #5AFEED;
}
.white-color{
    color: #fff;
}
.inline{
	display: inline-block;
}

@keyframes register{
	0%{
		background-color: rgba(0, 0, 0, 0);
		color: #fff;
	}
	25%{
		background-color: rgba(0, 0, 0, 0);
		color: #fff;
	}
	50%{
		background-color: rgb(251, 255, 0);
		color: #000;
	}
	75%{
		background-color: rgba(0, 0, 0, 0);
		color: #fff;
	}
	100%{
		background-color: rgba(0, 0, 0, 0);
		color: #fff;
	}
}