.Landing{
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    top: 106px;
}
@media (min-height: 480px){
    .Landing{
        min-height: calc(100vh - 106px);
    }
}
@media (max-height: 400px){
    .Landing{
        min-height: calc(180vh - 106px);
    }
}
