.Landing{
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    top: 106px;
}
@media (min-height: 480px){
    .Landing{
        min-height: calc(100vh - 80px);
    }
}
@media (max-height: 400px){
    .Landing{
        min-height: calc(180vh - 80px);
    }
}
.Landing-logo{
    margin-top: 30px;
}
.Landing-calltoaction{
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.Landing-register{
    padding: .5rem 2rem !important;
    font-size: 1.5rem !important;
    line-height: 2 !important;
    border-radius: 1rem !important;
    margin: 2vh 1vw;
}
.Landing-viewmore {
    padding: .5rem 2rem !important;
    font-size: 1.5rem !important;
    line-height: 2 !important;
    border-radius: 1rem !important;
    width: 250px;
    margin: 2vh 1vw;

}