.Location{
    display: table;
    width: 100%;
    color: yellow;
}

.map-location {
    padding-left: 3rem;
    width: 50%;
}
.content-location {
    text-align: left;
    width: 50%;
}
  
.halfnaja {
    display: table-cell;
    vertical-align: middle;
}
.map-google{
    /* width: 400px; */
    /* height: 400px; */
}
.mgl40{
    margin-left: 40px;
}
.content-location-header{
    font-size: 60px;
    color:#f59f66;
    font-weight: 400;
}
.content-location-body{
    font-size: 20px;
    color: rgb(201, 211, 111);
}
.content-location-footer{
    margin-top: 10px;
    font-size: 30px;
    color: rgb(113, 111, 211);
}
  