.Location {
	width: 100%;
    color: yellow;
    margin-top: 10vh;
}

.map-location {
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
}
.content-location {
	text-align: left;
	width: 50%;
	display: inline-block;
}

.content-location-header {
	font-size: 60px;
	color: #f59f66;
	font-weight: 400;
}
.content-location-body {
	font-size: 20px;
	color: rgb(201, 211, 111);
}
.content-location-footer {
	margin-top: 10px;
	font-size: 30px;
	color: rgb(113, 111, 211);
}

.map-flexbox {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
    padding: 0 40px;
    
}

.google-map-size{
    box-sizing: border-box;
    width: 100%;
    padding-right: 3rem;
}
@media (max-width: 768px) {
	.map-flexbox {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .map-location{
        order: 2;
        padding-left: 0;
        width: 70vw;
    }
    .content-location{
        text-align: center;
        margin-bottom: 24px;
        width: 70vw;
    }
    .google-map-size{
        padding-right: 0;
        height: 300px;
    }
}
@media (max-width: 500px) {
    .google-map-size{
        padding-right: 0;
        height: 200px;
    }
}
@media (min-width: 769px) {
    .google-map-size{
        height: 300px;
    }
}