.Location{
    height: 500px;
    display: table;
    width: 100%;
    border: 1px solid yellow;
    color: yellow;
}

.map-location {
    padding-left: 13rem;
}
.content-location {
    padding-right: 13rem;
}
  
.halfnaja {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.map-google{
    width: 400px;
    height: 400px;
}
  