.container-table {
  display: grid;
  grid-template-columns: 30% 70%; 
  grid-gap: 100px;
  align-items: center; 
}
.type-table {
  grid-column: 1/2;
}
.main-table {
  grid-column: 2/2;
}
.type-menu {
  border-left: 2px solid #FFF;
  display: grid;
  grid-gap: 10px; 
  padding-left: 20px;
}
.type-menu2 {
  border-left: 2px solid #FFF;
  display: grid;
  grid-gap: 10px; 
  padding-left: 20px;
}
.btn-type {
  height: 50px;
  border: 2px solid #FFF;
  color:yellow;
  cursor: pointer;
  border-radius: 15px;
}
.wrap-table {
  height: 500px;
}
.project-table {
  display: grid;
  height: 100%;
  grid-gap: 10px;
  padding: 10px;
  border: 4px solid #FFF; 
  border-radius: 10px;
  overflow-y: scroll;
}
.project-list {
  background-color: rgba(58, 52, 52, 0.7);
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  color: #FFF;
  width: 100%;
  height: 100px;
  border: 2px solid #FFF;
  border-radius: 10px;
}
.mgt10{
  padding: 10px;
}

@media (max-width: 1100px) {
  .container-table {
    display: grid;
    grid-template-columns: 30% 70%; 
    grid-gap: 25px;
    align-items: center; 
  }
}

@media (max-width: 930px) {
  .container-table {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center; 
  }
  .type-table {
    grid-column: 1/2;
  }
  .main-table {
    grid-column: 2/2;
  }
}

@media (max-width: 764px) {
  .container-table {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    /* align-items: center;  */
  }
  .type-table {
    grid-row: 1/2;
    grid-column: 1;
  }
  .main-table {
    grid-row: 2/2;
    width: 650px;
    grid-column: 1;
  }
}