.Table h1{
  color: #5AFEED;
  padding-top: 6vh;
  margin-bottom: 5vh;
}
.container-table {
  display: grid;
  grid-template-columns: 30% 70%; 
  grid-gap: 100px;
  align-items: center; 
}
.container-table h2{
  color: #5AFEED;
}
.container-table p{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.type-table {
  grid-column: 1/2;
}
.main-table {
  grid-column: 2/2;
}
.type-menu {
  /* display: grid; */
  /* grid-gap: 10px;  */
  height: 427px;
  padding-left: 20px;
}
.type-menu-mobile {
    width: 100%;
  -webkit-animation : type 0.7s ease infinite;
          animation : type 0.7s ease infinite;
  outline: none;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-align-last:center;
  border: 1px solid #5AFEED; 
  border-radius: 5px;
}
.btn-type {
  height: 50px;
  border: 2px solid #FFF;
  color:yellow;
  cursor: pointer;
  border-radius: 15px;
}
.wrap-table {
  height: 427px;
}
.project-table {
  height: 100%;
  padding: 0 10px 0 10px;
  border: 2px dashed #5AFEED; 
  border-radius: 10px;
  overflow-y: auto;
  margin-top: 15px;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #5AFEED; 
    border-radius: 5px;
}

.project-list {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  color: #FFF;
  width: 100%;
  height: auto;
  border: 2px solid #5AFEED;
  border-radius: 10px;
  vertical-align: middle;
}
.mgt10{
  padding: 10px;
}

@media (max-width: 1100px) {
  .container-table {
    grid-template-columns: 30% 70%; 
    grid-gap: 25px;
  }
}

@media (max-width: 930px) {
  .container-table {
    grid-template-columns: 30% 70%;
  }
  .type-table {
    grid-column: 1/2;
  }
  .main-table {
    grid-column: 2/2;
  }
}

@media (max-width: 764px) {
  .container-table {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
  .type-table {
    grid-row: 1/2;
    grid-column: 1;
  }
  .main-table {
    grid-row: 2/2;
    grid-column: 1;
  }
}
@keyframes type{
	0%{
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
	}
	25%{
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
	}
	40%{
		background-color: #5AFEED;
		color: #000;
	}
	75%{
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
	}
	100%{
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
	}
}